/*
Theme Name:     Omega Child Theme
Description:    Child theme for the Omega WP Theme
Author:         Oxygenna
Author URI:     http://themeforest.net/user/oxygenna
Template:       omega
Version:        1.0
*/


/* 	=======================================================================================
	----------------------------------- Custom CSS By RS ----------------------------------
 	======================================================================================= */


/* 	=======================================================================================
	Headings & Styles
 	======================================================================================= */
h1 {
    font-size: 48px;
    color: #2d8cc9 !important;
    line-height: 68px;
    padding: 40px 0;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}
h2 {
    text-align: center;
    font-size: 45px;
    line-height: 60px;
    letter-spacing: 2px;
    color: #2d8cc9 !important;
}
h3 {
    font-size: 38px;
    line-height: 52px;
    letter-spacing: 2px;
    color: #2d8cc9 !important;
}
h4 {
    font-size: 26px;
    line-height: 36px;
    color: #2d8cc9 !important;
    font-weight: 600;
}
.sidebar-header {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 0 !important;
}
/* 	=======================================================================================
	Header CSS
 	======================================================================================= */
.top-bar.swatch-gray {
  background-color: #2d8cc9;
  color: #ffffff;
}
.top-bar .top {
    float: left;
    /* width: 10%; */
    text-align: left;
}
.widget_swatch_social ul li a > i {color: #ffffff !important;}
#masthead .nav > li > a {
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
}
#masthead .nav .current-menu-item > a {color: #2d8cc9;}

/* 	=======================================================================================
	Contents & Other
 	======================================================================================= */
.cm_divider {
    height: 3px;
    background-color: #2d8cc9;
    width: 7%;
    margin: 10px auto 15px;
}
.cm_divider_white {
    height: 3px;
    background-color: #ffffff;
    width: 7%;
    margin: 10px auto 15px;
}
.cm_center {text-align:center;}
.cm_desc {
    color: #2d8cc9 !important;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 25px;
}
.cm_column_padding {padding: 10px 6%;}
.cm_section_padding {padding: 60px 0;}
.cm_row_padded {padding-left: 13%;padding-top: 10%}
.cm_grey_section {background-color: #f5f5f5 !important;}
.cm_dark_grey_section {background-color: #999999 !important;}
.cm_light_grey_section {background-color: #DCDCDC !important;}
.cm_blue_section {background-color: #2d8cc9 !important;}
.cm_cf_btn {background-color: #2d8cc9 !important;}
.cm_page_title h3 {
	color: #ffffff !important;
	padding: 40px 0;
	text-align:center;
}
.cm_hover_mobile .vc-hoverbox-inner {min-height: 270px !important;}
.cm_remove_padding .wpb_content_element {margin-bottom: 0;}
.cm_box {
  min-height: 502px;
  /*outline-color: #2d8cc9;*/
  outline-offset: -10px;
   /*outline-style: dashed; */
  padding: 40px;
}
.single-post .col-md-push-2 {left: 0;width: 100%;}
.single-post .post-body > .container {width: 100%;}
.archive .col-md-push-2 {left: 0;width: 100%;}
.archive .post-body > .container {width: 100%;}
/* 	=======================================================================================
	Footer
 	======================================================================================= */
.swatch-black {background-color: #2d8cc9 !important;}
.cm_footer_right {
    width: 75%;
    text-align: center;
}

/* 	=======================================================================================
	Mobile Page
 	======================================================================================= */
.hanhaa_mobile_img_section {
	position: relative;
	display: inline-block;
}
.hanhaa_mobile_img_section .img-top {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
.hanhaa_mobile_img_section:hover .img-top {
	display: inline;
}
 	
/* 	=======================================================================================
	Parcelive Page
 	======================================================================================= */
.cm_parcelive_logos .col-md-2 > img {width: 80%;}
.cm_box_parcelive {
  min-height: 360px;
  outline-color: #2d8cc9;
  outline-offset: -10px;
  /*outline-style: dashed;*/
  padding: 40px;
	box-shadow: 0.2px 1px 35px rgba(0, 0, 0, 0.06);
   
}


.cm_section_how .normalwidth {padding-left: 20px;}
.cm_section_how_text h4 {color: #ffffff !important;}
.cm_section_how_text p {color: #ffffff !important;text-align: justify; padding: 0px 40px 0px 0px;}
.cm_parcelive_bottom_text {padding-top: 20px;}

/* 	=======================================================================================
	Investors
 	======================================================================================= */
.page-id-4925 .col-md-push-2 {left: 0;}
.page-id-4925 .vc_btn3-color-juicy-pink {
    background-color: #2d8cc9 !important;
}
/* 	=======================================================================================
	Partners
 	======================================================================================= */
.cm_border_white {
    padding: 0% 2% 1%;
    border: 1px solid #d4e1ea;
	border-radius: 20px;
    box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.08);
}

.cm_border_grey {
	padding: 0% 2% 1%;
	border: 1px solid #d4e1ea;
	border-radius: 20px;
	box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.08);
	margin-right: 30px;
}
/* 	=======================================================================================
	Press
 	======================================================================================= */
h3.cm_press_title {font-size: 32px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 38px;
}

/* 	=======================================================================================
	Functional Specifications
 	======================================================================================= */
.cm_box_functional_specs {
    min-height: 528px;
    outline-color: #2d8cc9;
    outline-offset: -10px;
    outline-style: dashed;
    padding: 40px;
}

/* 	=======================================================================================
	Blog
 	======================================================================================= */
.page-id-6057 .vc_gitem-zone.vc_gitem-zone-a.vc-gitem-zone-height-mode-auto.vc-gitem-zone-height-mode-auto-1-1.vc_gitem-is-link {
	max-height: 545px;
}
.page-id-6057 .vc_gitem-link.vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-shape-rounded.vc_btn3-style-flat.vc_btn3-color-juicy-pink {
	background-color: #2d8cc9;
}
.page-id-6057 .vc_custom_heading.vc_gitem-post-data.vc_gitem-post-data-source-post_excerpt > p {
  color: #4c4c4c;
}
.single-post #footer section {
	background-color: #2d8cc9 !important;
	color: #fff;
}

/* 	=======================================================================================
	---------------------------- Mobile Responsive & Media Query --------------------------
 	======================================================================================= */


/* 	=======================================================================================
	Contents & Other
 	======================================================================================= */

@media screen and (min-width: 320px) and (max-width: 480px) {
	h1 {font-size: 40px;}
	h2 {font-size: 34px; line-height: 48px;}
}
@media screen and (min-width: 320px) and (max-width: 980px) {
	.cm_center_column_responsive {text-align: center;}
	.cm_footer_right {
		width: 100%;
		text-align: center;
	}
}

@media screen and (min-width: 320px) and (max-width: 375px) {
	.blog iframe {
		height: auto;
		width: 100%;
	}
	.blog img.scale-with-grid {
		height: auto;
		width: 100%;
	}
	.post-3744 img.scale-with-grid{width: 100%;}
	.post-3697 img.scale-with-grid {width: 100%;}
}
@media screen and (min-width: 480px) and (max-width: 667px) {
	.blog iframe {
		width: 100%;
	}
	.blog img.scale-with-grid {
		height: auto;
		width: 100%;
	}
	.post-3744 img.scale-with-grid{width: 100%;}
	.post-3697 img.scale-with-grid {width: 100%;}
}

/* 	=======================================================================================
	Parcelive Page
 	======================================================================================= */
@media screen and (min-width: 320px) and (max-width: 980px) {
	.cm_parcelive_logos .col-md-2 > img {padding: 10%;}
	.cm_section_how {text-align: center;}
	.cm_section_how .normalwidth {padding-left: 0;}
	.cm_section_how_text {padding: 0 10px 0 50px;}
	.cm_section_how_text h4 {text-align: center;}
	.cm_section_how_text p {text-align: center;}
	.cm_parcelive_bottom_text {text-align: center;}
}
@media screen and (min-width: 320px) and (max-width: 480px) {
	.cm_parcelive_bottom_text {left: 15%;}
}
@media screen and (min-width: 481px) and (max-width: 980px) {
	.cm_parcelive_bottom_text {left: 25%;}
}


/* 	=======================================================================================
	Partners Page
 	======================================================================================= */
@media screen and (min-width: 320px) and (max-width: 768px) {
	.cm_border_white {margin: 0 20px;}
}
@media screen and (min-width: 320px) and (max-width: 980px) {
	.cm_border_grey {margin: 10px 20px;}
}


/* 	=======================================================================================
	Blog
 	======================================================================================= */
@media screen and (min-width: 320px) and (max-width: 640px) {
	.page-id-6057 .vc_gitem-zone.vc_gitem-zone-a.vc-gitem-zone-height-mode-auto.vc-gitem-zone-height-mode-auto-1-1.vc_gitem-is-link {
		max-height: 220px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.page-id-6057 .vc_gitem-zone.vc_gitem-zone-a.vc-gitem-zone-height-mode-auto.vc-gitem-zone-height-mode-auto-1-1.vc_gitem-is-link {
		max-height: 460px;
	}
}


/* 	=======================================================================================
	Styles by Stephen Hartnett
 	======================================================================================= */


/* 	=======================================================================================
	---------------------------- Mobile Responsive & Media Query --------------------------
 	======================================================================================= */


/* 	=======================================================================================
	Home Page
 	======================================================================================= */


@media screen and (min-width: 920px) {
	.col-md-4.cm_box_parcelive {
		width:27%;
	}
}

/* 	=======================================================================================
	Custom Pricing Columns 
 	======================================================================================= */

#pricing .row {
    margin-left: auto;
    max-width: 95%;
}
.col-md-3.cm_box_parcelive {
	margin:2.1%;	
}

@media only screen and (min-width: 1719px) {
	.col-md-3.cm_box_parcelive {
    width: 16%;
	}
}
@media only screen and (max-width: 1719px) and (min-width: 1350px) {
	.col-md-3.cm_box_parcelive {
    width: 20%;
	}
}
@media only screen and (max-width: 1350px) and (min-width: 992px) {
	.col-md-3.cm_box_parcelive {
    width: 36%;
	}
}
@media only screen and (max-width: 992px) and (min-width: 680px)  {
	.col-md-3.cm_box_parcelive {
    width: 42%;
	}
}
@media only screen and (max-width: 680px) {
	.col-md-3.cm_box_parcelive {
    width: 80%;
	}
}
.cm_box_bronze {
	min-height:526px;
	float: left;
	background-color: #0e2854;
}

.cm_box_silver {
	min-height:526px;
	background-color: #0e2854;
	float: left;
}

.cm_box_gold {
	min-height:526px;
	background-color: #0e2854;
	float: left;
}
.cm_box_enterprise {
	min-height:526px;
	background-color: #0e2854;
	float: left;
}

/* 	=======================================================================================
	General Styling 
 	======================================================================================= */

/* 	=======================================================================================
	Quotes for ParceLive 
 	======================================================================================= */

@media only screen and (min-width: 1719px) {
	#quotes-wrapper {
    width: 100%;
	}
}
@media only screen and (max-width: 1719px) and (min-width: 1350px) {
	#quotes-wrapper {
    width: 100%;
	}
}
@media only screen and (max-width: 1350px) and (min-width: 992px) {
	#quotes-wrapper {
    width: 78%;
    margin-left: auto;

	}
}
@media only screen and (max-width: 992px) and (min-width: 680px)  {
	#quotes-wrapper {
    width: 75%;
    margin-left: auto;
	}
}
@media only screen and (max-width: 680px) {
	#quotes-wrapper {
    width: 80%;
     margin-left: auto;
	}
}
 	#quotes-wrapper {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    padding-top: 4%;
    padding-bottom: 7%;
    padding-right: 10%;
    padding-left: 10%;
}
#quotes-wrapper>div {
    width: 246px;
    height: 238px;
    vertical-align: top;
    display: inline-block;
    zoom: 1;
    background:white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
#quotes-wrapper>span {
    width: 100%;
    display: inline-block;
    /*font-size: 0;*/
    /*line-height: 0;*/
}
.quotes-img-hellmann {
	background-image: url("https://www.hanhaa.com/wp-content/uploads/2018/10/hellman-mainlogo.png");
	background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    transition: .3s;
    margin-left: 10%;
    float: left;
    height: 100px;
    width: 200px;
}

.quotes-img-avnet {
	background-image: url("https://www.hanhaa.com/wp-content/uploads/2018/10/avnet-mainlogo.png");
	background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    transition: .3s;
    margin-left: 10%;
    float: left;
    height: 100px;
    width: 200px;
}
.quotes-img-dssmith {
	background-image: url("https://www.hanhaa.com/wp-content/uploads/2018/10/DS-smithmain-logo.png");
	background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    transition: .3s;
    margin-left: 10%;
    float: left;
    height: 100px;
    width: 200px;
}
.quotes-img-dbschenker {
	background-image: url("https://www.hanhaa.com/wp-content/uploads/2018/10/DB-Schenker-mainlogo.png");
	background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    transition: .3s;
    margin-left: 10%;
    float: left;
    height: 100px;
    width: 200px;
}
.quote-textbox {
	padding-top: 45%;
    padding-left: 10%;
    padding-right: 10%;
}

 	/* 	=======================================================================================
	Hover boxes for channel partner page 
 	======================================================================================= */

 .service-model-wrapper  {
	padding-top: 2%;
    padding-bottom: 6%;
 }

 .service-model-default {
    width: 400px;
    height: 400px;
    line-height: 40px;
    vertical-align: middle;
    background-color: #fff;
    box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    margin: 0 auto;
    padding-top: 4%;
    padding-left: 3%;
    padding-right: 1%;
}

.service-model-slide {
	width: 400px;
  	height: 400px;
  	line-height: 40px;
  	vertical-align: middle;
  	background-color: #fff;
  	box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.08);
  	position: absolute;
  	top: -22px;
  	left: 400px;
  	right: 0;
  	z-index: -6;
  	border-radius: 10px;
  	transition: transform .8s ease-out, z-index 0s .4s;
  	margin: auto;
  	backface-visibility: visible;
  	transform-origin: bottom;
  	padding-top: 4%;
  	padding-left: 3%;
  	padding-right: 1%;
}

.service-model-default:hover ~ .service-model-slide {
  	transform: rotateX(360deg) translateZ(40px);
  	z-index: 1;
}
.service-model-padded {
	padding-right: 13%;
}

 	/* 	=======================================================================================
	Truth at scale boxes 
 	======================================================================================= */
@media only screen and (min-width: 1719px) {
	.col-md-4.services-inner {
    width: 30%;
    float:left;
	}
}
@media only screen and (max-width: 1719px) and (min-width: 1350px) {
	.col-md-4.services-inner {
     width: 30%;
     float:left;
     min-height: 300px;
	}
}
@media only screen and (max-width: 1350px) and (min-width: 992px) {
	.col-md-4.services-inner {
   width: 29%;
   float: left;
   min-height: 376px;
	}
}
@media only screen and (max-width: 992px) and (min-width: 680px)  {
	.col-md-4.services-inner {
    width: 51%;
    margin: 2%;
    margin-left: 26%;;
    min-height:350px;
	}
}
@media only screen and (max-width: 680px) {
	.col-md-4.services-inner {
    width: 84%;
    margin: 2%;
    margin-left: 10%;
    min-height:400px;
	}
}
.services-inner {
    border: 1px solid #48c7ec;
    margin-left: 35px;
    transition: .3s;
    background: #ffffffb5;
    height: 220px;
}
.our-services-img {
	width: 68px;
    float: left;
    margin-left: -36px;
    margin-right: 22px;
    margin-top: 28px;
}

.our-services-wrapper {
    margin-bottom: 2%;
    padding-bottom: 2%;
}

.services-inner:hover  {
    background: #fff none repeat scroll 0 0;
    border: 2px solid transparent;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.p {
	font-family: calibri;
}
@media only screen and (min-width: 1719px) {
	.col-md-4.features-inner {
    width: 30%;
    float:left;
	}
}
@media only screen and (max-width: 1719px) and (min-width: 1350px) {
	.col-md-4.features-inner {
    width: 30%;
     float:left;
	}
}
@media only screen and (max-width: 1350px) and (min-width: 992px) {
	.col-md-4.features-inner {
    width: 29%;
   float: left;
	}
}
@media only screen and (max-width: 992px) and (min-width: 680px)  {
	.col-md-4.features-inner {
    width: 51%;
    margin: 2%;
    margin-left: 26%;;
	}
}
@media only screen and (max-width: 680px) {
	.col-md-4.features-inner {
    width: 84%;
    margin: 2%;
    margin-left: 10%;
	}
}
.features-inner {
    border: 1px solid #48c7ec;
    margin-left: 35px;
    transition: .3s;
    background: #ffffffb5;
    height: 427px;
}
.features-inner:hover  {
    background: #fff none repeat scroll 0 0;
    border: 2px solid transparent;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.cd_image_position  {
	align-content: center !important;
}
.cd_parcelive_boxrow {
	padding-bottom: 25px !important;
}
.cd_padding_location {
		padding-bottom: 200px !important;
	}
/*This removes margin from section */
.cd_margin_remove {
	margin-bottom:0px !important;
}

/*This is the circle buttton on the symbisa page */
.box_button {
  width:50px;
  height:50px;
  border-top:2px solid #fff;
  border-radius:50%;
  margin:10px auto 50px;
  background-color:#27a9ff;
  background: linear-gradient(#27a9ff,#26babe);
  text-align:center;
  box-shadow:
    0 5px 2px 3px rgba(158, 158, 158, 0.4), 
    0 3px 5px #27a9ff, 
    0 0 0 2px #27a9ff, 
    inset 0 -3px 1px 2px rgba(186, 178, 165, 0.5),
    inset 0 3px 1px 2px rgba(246, 245, 241, 0.3);
  cursor:pointer;
  position:relative;
}

.box_button:active{
  width:50px;
  height:50px;
  border-radius:50%;
  border-top:none;
  border:2px solid #27a9ff;
	background-color:#27a9ff;
	text-align:center;
	position:relative;
	color:#27a9ff;
	font-size:64px;
	line-height:80px;
	text-shadow:
    0 1px 1px white,
    0 1px 1px #26babe;
  box-shadow:  0 0 0 0 #26babe;
}
.box_button:before{
	content:" ";
	display:block;
	position:absolute;
	z-index:-90;
	width:80px;
	height:80px;
	border-radius:50%;
	border-top:2px solid #CCC8BF;
  border-bottom: 1px solid #F4F3F1;
  box-shadow: inset 0 -2px 0 2px #F7F6F2, inset 0 2px 1px 1px #CCC8BF;
	left:-17.5px; 
	top:-20px;
	background:-moz-linear-gradient(#f5f5f5,#fff);
	box-shadow: inset 1px 0 1px 0px #D9D9D9; 
}

.box_button span {
  display:inline-block;
  box-shadow: 
    inset 0 1px 1px 1px #F7F6F2, 
    0 1px 1px white;
  height:10px; 
  width:10px;
  border-radius:50%;
  background: linear-gradient(#26babe,#F7F6F2);
  margin:22px auto;
}

/* 	=======================================================================================
	parcelive included box 
 	======================================================================================= */

.parcelive-product-wrapper {
	margin:2%;
}
/*.wpb_content_element {
    margin-bottom: -75px!important;
}*/
.parcelive-product-image {
 	background-image: url("https://www.hanhaa.com/wp-content/uploads/2018/09/parceLive-box.png");
	background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
	float: left; 
 }
.parcelive-product-inner {
    margin-left: 79px;
    transition: .3s;
    background: #fff;
    width:28%;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 2%;
}


/* 	=======================================================================================
	parcelive use cases
 	======================================================================================= */

.use-case {
    margin-left: 121px;
    margin-top: 46px;
    margin-bottom: 100px;
    transition: .3s;
    background: #ffffff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    height: 442px;
}

.use-case-img {
	transition: .3s;
	margin-top: -93px;
	margin-left: -99px;
	float: left;
}
@media only screen and (min-width: 1719px) {
	.col-md-4.use-case {
    width: 37%;
    
	}
}
@media only screen and (max-width: 1719px) and (min-width: 1350px) {
	.col-md-4.use-case {
    width: 37%;
     
	}
}
@media only screen and (max-width: 1350px) and (min-width: 992px) {
	.col-md-4.use-case {
    width: 40%;
    margin-left: 97px;
   
	}
}
@media only screen and (max-width: 992px) and (min-width: 680px)  {
	.col-md-4.use-case {
    width: 51%;
    margin-left: 23%;
    margin-top: 13%;
	}
}
@media only screen and (max-width: 680px) and (min-width: 250px)  {
	.col-md-4.use-case {
    width: 66%;
    margin: 2%;
    margin-top: 40%;
    margin-left: 22%;
    height: 600px;
	}
}

/* 	=======================================================================================
	Bug fixes
 	======================================================================================= */

/* This fixes the alignment of the columns. The ID is assigned on the parcelive page */
#parcelive .row {
	margin-left: auto;
    margin-right: -15px;
    display: -webkit-box;
	}

.col-md-4.cm_box_parcelive {
	margin:2.1%;	
}
/* This is the animation for the boxes on the parcelive page */
.cm_box_parcelive {
  position: relative; /* For positioning the pseudo-element */
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
}

.cm_box_parcelive::before {
  /* Position the pseudo-element. */
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Create the box shadow at expanded size. */
  box-shadow: 0 1px 50px 0 rgba(0, 0, 0, 1);

  /* Hidden by default. */
  opacity: 0;
  transition: opacity 500ms;
}

.cm_box_parcelive:hover::before {
  /* Show the pseudo-element on hover. */
  opacity: .3;
}
/*This adds a background to the product boxes and corrects the styling*/
.cm_box_symbisa {
	background-image: url("https://www.hanhaa.com/wp-content/uploads/2018/07/parcelive-background-box-image.png");
	background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
	float: left;
    
}

.cm_box_parcelve {
	background-image: url("https://www.hanhaa.com/wp-content/uploads/2018/07/symbisa-background.png");
	background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
	float: left;
    
}

.cm_box_hanhaamobile {
	background-image: url("https://www.hanhaa.com/wp-content/uploads/2018/07/iStock_96327189_MEDIUM1.png");
	background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
	float: left;
	
    
}
#parcelive .vc_btn3-container {
	margin-bottom:0px;
}

#hanhaaproducts .row {
	float: right;
    margin: auto;
    max-width: 95%;
}

#hanhaaproducts .cm_box_parcelive {
	background-color:#fff;
	}

#content > footer{
	background: #2d8cc9;
	color: #fff;
}

.woocommerce-cart-form {
	clear: both;
    float: left;
    width: 100%;
}
.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents {
text-align: left;
    width: 100%;
    border: none;
    margin: 0 0 21px;
    table-layout: auto;
}

.sv_item_description {
	border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin: 0;
    padding: 0;
}

 .shop_table th {
	background: #fafafa;
    padding: 1.387em;
}

.shop_table td {
	text-align: left;
    color: #666;
    padding: .5em 1.387em;
}

.country-select, .coupon input[type=text] {
    width: 20%;
}

.coupon {
	margin:0;
}

a.remove {
	text-indent:-9999px;
	border: 0;
	
}

a.remove:before {
	    font-family: FontAwesome;
    content: "\f1f8";
    float: right;
    text-indent: 0;
}

.woocommerce-checkout-payment {
	clear: both;
    float: left;
    width: 100%;
    background-color: #f7f8f8;
    overflow: auto;
    padding: 20px;
}
#ship-to-different-address.checkbox {
	position:unset;
}

@media (min-width: 768px) {
    #customer_details{
        width: 55%;
        float: left;
    }
    #order_review_heading {
        width: 30%;
        float: left;
    }
    #order_review {
        width: 43%;
        float: left;
        margin-left: 2%;
        margin-top: 2.5%;
        position: sticky;
  		position: -webkit-sticky;
 		top: 0; /* required */
    }
}

    .woocommerce table.shop_table td{
        width: 50%;
    }
    .woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,
    .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2{
        width: 100%;
    }

    .shop_table.woocommerce-checkout-review-order-table {
    	margin-bottom: 2%;
    	box-shadow: 0px 4px 40px -20px #888888;
    	width:100%;
    }

    .woocommerce-checkout-payment {
    	background-color: #0e2854;
    	color:#fff;
    	box-shadow: 0px 4px 40px -20px #888888;
    	overflow:unset; 
    }

    .shop_table.woocommerce-checkout-review-order-table th {
    	background-color: #0e2854;
    	color: #fff;
    }

/* 	=======================================================================================
	How we do it boxes 
 	======================================================================================= */
    
    @media only screen and (min-width: 1719px) {
	.col-md-4.cm-how-1 {
    width: 30%;
    float:left;
	}
}
@media only screen and (max-width: 1719px) and (min-width: 1350px) {
	.col-md-4.cm-how-1{
    width: 30%;
     float:left;
	}
}
@media only screen and (max-width: 1350px) and (min-width: 992px) {
	.col-md-4.cm-how-1 {
    width: 29%;
   float: left;
	}
}
@media only screen and (max-width: 992px) and (min-width: 680px)  {
	.col-md-4.cm-how-1 {
    width: 51%;
    margin-bottom: 23%;
    margin-left: 26%;;
    height: 450px;
	}
}
@media only screen and (max-width: 680px) {
	.col-md-4.cm-how-1 {
    width: 84%;
    margin-bottom: 39%;
    margin-left: 10%;
	}
}
    .cm-how-row {
    padding-top:100px;
    padding-bottom:100px;
    }
 	.cm-how-1 {
    margin-left: 35px;
    transition: .3s;
    background: #ffffff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    height:400px;
}
 	
.cm-how-img {
	transition: .3s;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    margin-top: -100px;
}

.cm-how-img:hover  {
	transition: .3s;
    background: #fff none repeat scroll 0 0;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
     transform: scale(1.1);
}

/* 	=======================================================================================
	Symbisa product Page
 	======================================================================================= */

.price {
    font-size: 33px;
    line-height: 24px;
    align-content: center;
    text-align: center;
    font-weight: 600;
}

.woocommerce h1 {
    margin-bottom: 0px; 
}
.stock {
    font-weight: 700;
    font-size: 21px;
    margin-bottom: 24px;
    color: forestgreen;
    text-align: center;
}
.quantity {
	display: block;
	text-align: center;
	margin-bottom: 30px;
}
.quantity input {
    padding: 7px 12px;
    margin: 0;
    font-size: 14px;
    text-align: center;
    text-shadow: none;
    font-weight: 400!important;
    outline: 0;
    cursor: pointer;
    line-height: 24px!important;
    border-radius: 0;
    border: 0;
    max-width: 71px;
    height: 36px;
    -webkit-appearance: none!important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.single_add_to_cart_button.button.alt {
    margin: -20px -50px;
    position: relative;
    top: 50%;
    left: 42%;
    margin-bottom: 38px;
}
.woocommerce-product-gallery .flex-control-thumbs {
    position: relative;
    width: 100%;
    text-align: unset;
    margin: 0%;
}
.flex-control-nav li {
    display: inline-block;
    cursor: pointer;
    position: relative;
    z-index: 1000;
    margin: 2%;
}
/* 	=======================================================================================
	Use cases section
 	======================================================================================= */

.cont {
  position: relative;
  overflow: hidden;
  height: 100vh;
  padding: 80px 70px;
}
.cont__inner {
  position: relative;
  height: 100%;
}
.cont__inner:hover .el__bg:after {
  opacity: 1;
}

.el {
  position: absolute;
  left: 0;
  top: 0;
  width: 24%;
  height: 100%;
  background: #252525;
  transition: transform 0.6s 0.7s, width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s;
  will-change: transform, width, opacity;
}
.el:not(.s--active) {
  cursor: pointer;
}
.el__overflow {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.el__inner {
  overflow: hidden;
  position: relative;
  height: 100%;
  transition: transform 1s;
}
.cont.s--inactive .el__inner {
  transform: translate3d(0, 100%, 0);
}
.el__bg {
  position: relative;
  width: calc(100vw - 140px);
  height: 100%;
  transition: transform 0.6s 0.7s;
  will-change: transform;
}
.el__bg:before {
  content: "";
  position: absolute;
  left: 0;
  top: -5%;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: center center;
  transition: transform 1s;
  transform: translate3d(0, 0, 0) scale(1);
}
.cont.s--inactive .el__bg:before {
  transform: translate3d(0, -100%, 0) scale(1.2);
}
.el.s--active .el__bg:before {
  transition: transform 0.8s;
}
.el__bg:after {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.5s;
}
.cont.s--el-active .el__bg:after {
  transition: opacity 0.5s 1.4s;
  opacity: 1 !important;
}
.el__preview-cont {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s 1.2s;
}
.cont.s--inactive .el__preview-cont {
  opacity: 0;
  transform: translateY(10px);
}
.cont.s--el-active .el__preview-cont {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s;
}
.el__heading {
  color: #fff!important;
  text-transform: uppercase;
  font-size: 28px;
}
.el__inner_heading {
  color: #fff!important;
  text-transform: uppercase;
  font-size: 28px;
}
.el__content {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.1s;
}
.el.s--active .el__content {
  z-index: 2;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.5s 1.4s;
}
.el__text {
  text-transform: uppercase;
  font-size: 40px;
  color: #fff;
}
.el__close-btn {
  z-index: -1;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 60px;
  height: 60px;
  opacity: 0;
  pointer-events: none;
  transition: all 0s 0.45s;
  cursor: pointer;
}
.el.s--active .el__close-btn {
  z-index: 5;
  opacity: 1;
  pointer-events: auto;
  transition: all 0s 1.4s;
}
.el__close-btn:before, .el__close-btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 8px;
  margin-top: -4px;
  background: #fff;
  opacity: 0;
  transition: opacity 0s;
}
.el.s--active .el__close-btn:before, .el.s--active .el__close-btn:after {
  opacity: 1;
}
.el__close-btn:before {
  transform: rotate(45deg) translateX(100%);
}
.el.s--active .el__close-btn:before {
  transition: all 0.3s 1.4s cubic-bezier(0.72, 0.09, 0.32, 1.57);
  transform: rotate(45deg) translateX(0);
}
.el__close-btn:after {
  transform: rotate(-45deg) translateX(100%);
}
.el.s--active .el__close-btn:after {
  transition: all 0.3s 1.55s cubic-bezier(0.72, 0.09, 0.32, 1.57);
  transform: rotate(-45deg) translateX(0);
}
.el__index {
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: -80px;
  width: 100%;
  height: 100%;
  min-height: 250px;
  text-align: center;
  font-size: 20vw;
  line-height: 0.85;
  font-weight: bold;
  transition: transform 0.5s, opacity 0.3s 1.4s;
  transform: translate3d(0, 1vw, 0);
}
.el:hover .el__index {
  transform: translate3d(0, 0, 0);
}
.cont.s--el-active .el__index {
  transition: transform 0.5s, opacity 0.3s;
  opacity: 0;
}
.el__index-back, .el__index-front {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.el__index-back {
  color: #2f3840;
  opacity: 0;
  transition: opacity 0.25s 0.25s;
}
.el:hover .el__index-back {
  transition: opacity 0.25s;
  opacity: 1;
}
.el__index-overlay {
  overflow: hidden;
  position: relative;
  transform: translate3d(0, 100%, 0);
  transition: transform 0.5s 0.1s;
  color: transparent;
}
.el__index-overlay:before {
  content: attr(data-index);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  transform: translate3d(0, -100%, 0);
  transition: transform 0.5s 0.1s;
}
.el:hover .el__index-overlay {
  transform: translate3d(0, 0, 0);
}
.el:hover .el__index-overlay:before {
  transform: translate3d(0, 0, 0);
}
.el:nth-child(1) {
  transform: translate3d(0%, 0, 0);
  transform-origin: 50% 50%;
}
.cont.s--el-active .el:nth-child(1):not(.s--active) {
  transform: scale(0.5) translate3d(0%, 0, 0);
  opacity: 0;
  transition: transform 0.95s, opacity 0.95s;
}
.el:nth-child(1) .el__inner {
  transition-delay: 0s;
}
.el:nth-child(1) .el__bg {
  transform: translate3d(0%, 0, 0);
}
.el:nth-child(1) .el__bg:before {
  transition-delay: 0s;
  background-image: url("https://www.hanhaa.com/wp-content/uploads/2018/08/Automotive-small.jpg");
}
.el:nth-child(2) {
  transform: translate3d(105.2083333333%, 0, 0);
  transform-origin: 155.2083333333% 50%;
}
.cont.s--el-active .el:nth-child(2):not(.s--active) {
  transform: scale(0.5) translate3d(105.2083333333%, 0, 0);
  opacity: 0;
  transition: transform 0.95s, opacity 0.95s;
}
.el:nth-child(2) .el__inner {
  transition-delay: 0.1s;
}
.el:nth-child(2) .el__bg {
  transform: translate3d(-19.2%, 0, 0);
}
.el:nth-child(2) .el__bg:before {
  transition-delay: 0.1s;
  background-image: url("https://www.hanhaa.com/wp-content/uploads/2018/10/nigel-tadyanehondo-239555-unsplash.jpg");
}
.el:nth-child(3) {
  transform: translate3d(210.4166666667%, 0, 0);
  transform-origin: 260.4166666667% 50%;
}
.cont.s--el-active .el:nth-child(3):not(.s--active) {
  transform: scale(0.5) translate3d(210.4166666667%, 0, 0);
  opacity: 0;
  transition: transform 0.95s, opacity 0.95s;
}
.el:nth-child(3) .el__inner {
  transition-delay: 0.2s;
}
.el:nth-child(3) .el__bg {
  transform: translate3d(-38.4%, 0, 0);
}
.el:nth-child(3) .el__bg:before {
  transition-delay: 0.2s;
  background-image: url("https://www.hanhaa.com/wp-content/uploads/2018/10/pharma.jpg");
}
.el:nth-child(4) {
  transform: translate3d(315.625%, 0, 0);
  transform-origin: 365.625% 50%;
}
.cont.s--el-active .el:nth-child(4):not(.s--active) {
  transform: scale(0.5) translate3d(315.625%, 0, 0);
  opacity: 0;
  transition: transform 0.95s, opacity 0.95s;
}
.el:nth-child(4) .el__inner {
  transition-delay: 0.3s;
}
.el:nth-child(4) .el__bg {
  transform: translate3d(-57.6%, 0, 0);
}
.el:nth-child(4) .el__bg:before {
  transition-delay: 0.3s;
  background-image: url("https://www.hanhaa.com/wp-content/uploads/2018/07/cover-image-1.jpg");
}
.el:nth-child(5) {
  transform: translate3d(420.8333333333%, 0, 0);
  transform-origin: 470.8333333333% 50%;
}
.cont.s--el-active .el:nth-child(5):not(.s--active) {
  transform: scale(0.5) translate3d(420.8333333333%, 0, 0);
  opacity: 0;
  transition: transform 0.95s, opacity 0.95s;
}
.el:nth-child(5) .el__inner {
  transition-delay: 0.4s;
}
.el:nth-child(5) .el__bg {
  transform: translate3d(-76.8%, 0, 0);
}
.el:nth-child(5) .el__bg:before {
  transition-delay: 0.4s;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-7.jpg");
}
.el:hover .el__bg:after {
  opacity: 0;
}
.el.s--active {
  z-index: 1;
  width: 100%;
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s, width 0.7s 0.7s, z-index 0s;
}
.el.s--active .el__bg {
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s;
}
.el.s--active .el__bg:before {
  transition-delay: 0.6s;
  transform: scale(1.1);
}

.icon-link {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 32px;
}
.icon-link img {
  width: 100%;
  vertical-align: top;
}
.icon-link--twitter {
  left: auto;
  right: 5px;
}

/* 	=======================================================================================
	Symbisa I'm new here section 
 	======================================================================================= */

 	.grid {
	position: relative;
  width: 100vw;
  height: 60vh;
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.grid .column {
	position: relative;
	overflow: hidden;
  width: 50%;
	text-align: center;
	cursor: pointer;
}
.grid .column img {
	position: relative;
	display: block;
  height: 100%;
  object-fit: cover;
	width: 100%;
	opacity: 0.8;
}
.grid .column .content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.3rem;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.grid .column .content::before,
.grid .column .content::after {
	pointer-events: none;
}

.grid .column h2 {
	word-spacing: -0.15rem;
	font-weight: 800;
	color:white!important;
}

.grid .column h2 span {
  display: block;
	font-weight: 800;
  font-size: 2.8rem;
  color:white!important;
}

.grid .column h2,
.grid .column p {
	margin: 0;
	color:white!important;
}

.grid .column p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

#logo{
  text-align: center;
  width: 100%;
  position: absolute;
  top: 10%;
  -webkit-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  transform: translateY(-10%);
}
#logo img{
  max-width: 100px;
  height: auto;
  padding-left: 10px;
}
#west{
  background: url(https://www.hanhaa.com/wp-content/uploads/2018/10/IMG_9296.jpg) no-repeat top center;
  background-size: cover;
}
#east{
  background: url(https://www.hanhaa.com/wp-content/uploads/2018/10/Symbisa-Excel-Plugin.png) no-repeat center top;
  background-size: cover;
}
#west .content{
  background: rgba(45, 140, 201, .5);
}
#east .content{
  background: rgba(41, 167, 143, 0.5);
  
}
/*-----------------*/
/***** Hover *****/
/*-----------------*/
.effect-hover h2,
.effect-hover h3,
.effect-hover p,
.effect-hover i{
	-webkit-transition: opacity 0.35s, 
    -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

.effect-hover .content::before {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 300px;
	border: 3px solid #fff;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
  /* remove this bit if you want it to swing up */
	-webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(0,0,1);
	transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(0,0,1);
}

.effect-hover p:hover,
.effect-hover p:focus {
	opacity: 0.6;
} /* Keeps things consistent */


.effect-hover p,
.effect-hover h3{
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

.effect-hover:hover .content::before {
	opacity: 1;
	-webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(1,1,1);
	transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(1,1,1);
}

.effect-hover:hover h2 {
	opacity: 0;
	-webkit-transform:  scale3d(0.8,0.8,1);
	transform: scale3d(0.8,0.8,1);
}
.effect-hover:hover h3,
.effect-hover:hover p{
	opacity: 1;
	color:white!important;
}
.effect-hover:hover i{
  -webkit-transform:  scale3d(2.5,2.5,2);
	transform: scale3d(2.5,2.5,2);
}

/* Overlays */
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  z-index: 99;
  overflow-x: hidden;
  background: #eee; 
}
/* Block works too, but flex is more...flexible */
.overlay.open{
  display: flex;
}
.overlay .column{
  display: table;
  height: 100%;
}
.product-content{
  font-size: 1.4rem;
  padding: 10%;
  display: table-cell;
  vertical-align: middle;
}
.price{
  color: #34d5cf;
  margin: 1vw 0;
}
.currency{
  font-weight: 700;
  font-size: 1rem;
}
/* button */
.buy-button{
    height: 50px;
    width: 100%;
    margin: 2rem 0;
    position: relative;
    background: #eee;
    border: 3px solid #f9efb2;
}
.buy-button > span {
  display: block;
  position: relative;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  color: #1f1f22;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
  z-index: 10;
  line-height: 60px;
}

.buy-button::after, .buy-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid #f9efb2;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s, ease-in-out .3s;
}
.buy-button::before {
    background: #FFF;
    margin: 0px 0 0 0px;
    top: 5px;
    left: 5px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    z-index: 1;
}

.buy-button:hover span,
.buy-button:hover::before {
    transform: translate3d(-4px, -4px, 0px);
}
.buy-button:hover::before{
  background: #f9efb2;
}
.size-guide-link {
    display: inline-block;
    font-weight: 500;
    cursor: pointer;
    font-size: .8rem;
}
.underline-link {
    overflow: hidden;
    padding-bottom: .5vh;
    position: relative;
}
.underline-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #202023;
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    
}
.underline-link.active::before,
.underline-link.hovered::before,
.underline-link:hover::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);    
}
/* Close Icon animated */
/* Thanks to @arthurhamon */
.close-icon{
  width: 36px;
  height: 36px;
  cursor: pointer;
  position: absolute;
  top: 4%;
  right: 2%;
}
/* Test your cubic beziers here http://cubic-bezier.com/ */
.close-icon div {
    display: block;
    height: 3px;
    position: relative;
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0s, opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    width: 36px;
  
}
.close-icon div:first-child {
    transform: translate3d(0px, 10px, 0px) rotate3d(0, 0, 1, -45deg);
}
.close-icon div:first-child::after, .close-icon div:first-child::before {
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0s, opacity 0.2s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.close-icon div:last-child {
    transform: translate3d(0px, 8px, 0px) rotate3d(0, 0, 1, 45deg);
}
.close-icon div:last-child::after, .close-icon div:last-child::before {
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0.2s, opacity 0.2s cubic-bezier(0.19, 1, 0.22, 1) 0.18s;
}
.close-icon div::after, .close-icon div::before {
    content: "";
    display: block;
    height: 100%;
    pointer-events: none;
    position: absolute;
    width: 100%;
}
/* Now you see it */
.close-icon div::before {
    background: none repeat scroll 0 0 #34d5cf;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}
/* Now you don't */
.close-icon div::after {
    background: none repeat scroll 0 0 #ead918;
    opacity: 0;
    transform: translate3d(100%, 0px, 0px);
}
.close-icon:hover div::before {
    opacity: 0;
    transform: translate3d(-100%, 0px, 0px);
}
.close-icon:hover div::after {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}
/* 	=======================================================================================
	WooCommerce login form 
 	======================================================================================= */

   .page-id-7585 .html {
	margin-top: 0px!important;
}
	.sh-customer-login {
    margin: 0;
    color: #6a6f8c;
    background: url(https://www.hanhaa.com/wp-content/uploads/2018/10/Flyover-Image.jpg) no-repeat;
    background-size: cover;
    font: 600 16px/18px 'Open Sans',sans-serif;
    height: -webkit-fill-available;
}
 	.hanha-customer-login-wrap {
    width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(https://www.hanhaa.com/wp-content/uploads/2018/06/aeroplane-air-air-travel-723240.jpg) no-repeat bottom;
  	background-size:cover;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

 	.hanhaa-customer-html {
    width:100%;
	height:100%;
	position:absolute;
	padding:50px 70px 50px 70px;
	background:rgba(10,127,231,.9);
}
	.hanhaa-customer-login-logo {
	height:20%;
  	width:100%;
  	background: url(https://www.hanhaa.com/wp-content/uploads/2018/03/hanhaa_logo_white.png) no-repeat 0 0;
 	background-size: contain;
}
 	.hanhaa-customer-login-row {
 	color:#eee;
 	}

 	.hanhaa-customer-html .sign-in-htm,
 	.hanhaa-customer-html .sign-up-htm {
 	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.hanhaa-customer-html .sign-in,
.hanhaa-customer-html .sign-up,
.hanha-customer-login .hanhaa-customer-login-row .check{
	display:none;
}
.hanhaa-customer-html .tab,
.hanhaa-customer-html .label,
.hanha-customer-login .hanhaa-customer-login-row .button{
	text-transform:uppercase;
}

.hanhaa-customer-html .tab,
.hanha-customer-login .hanhaa-customer-login-row .label,
.hanha-customer-login .hanhaa-customer-login-row .woocommerce-Button button{
	text-transform:uppercase;
}
.hanhaa-customer-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.hanhaa-customer-html .sign-in:checked + .tab,
.hanhaa-customer-html .sign-up:checked + .tab {
	color:#fff;
	border-color:#fff;
}
.hanha-customer-login {
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.hanha-customer-login .hanhaa-customer-login-row {
	margin-bottom:15px;
}
.hanha-customer-login .hanhaa-customer-login-row .label,
.hanha-customer-login .hanhaa-customer-login-row .input,
.hanha-customer-login .hanhaa-customer-login-row .button{
	width:100%;
	color:#0c0c0c;
	display:block;
}
.hanha-customer-login .hanhaa-customer-login-row .input,
.hanha-customer-login .hanhaa-customer-login-row .button{
	border:none;
	padding:10px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.9);
}
.hanha-customer-login .hanhaa-customer-login-row input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.hanha-customer-login .hanhaa-customer-login-row .label{
	color:#eee;
	font-size:12px;
}
.hanha-customer-login .hanhaa-customer-login-row .button{
	background:#1161ee;
}
.hanha-customer-login .hanhaa-customer-login-row label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.hanha-customer-login .hanhaa-customer-login-row label .icon:before,
.hanha-customer-login .hanhaa-customer-login-row label .icon:after  {
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.hanha-customer-login .hanhaa-customer-login-row label .icon:before {
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.hanha-customer-login .hanhaa-customer-login-row label .icon:after {
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.hanha-customer-login .hanhaa-customer-login-row .check:checked + label{
	color:#fff;
}
.hanha-customer-login .hanhaa-customer-login-row .check:checked + label .icon{
	background:#1161ee;
}
.hanha-customer-login .hanhaa-customer-login-row .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.hanha-customer-login .hanhaa-customer-login-row .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.hanhaa-customer-html .sign-in:checked + .tab + .sign-up + .tab + .hanha-customer-login .sign-in-htm{
	transform:rotate(0);
}
.hanhaa-customer-html .sign-up:checked + .tab + .hanha-customer-login .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.4);
}
.foot-lnk{
	text-align:center;
  color:#eee;
}
/* 	=======================================================================================
	WooCommerce registration verification page 
 	======================================================================================= */

 	.reg-conformation {
    height: inherit;
 	}
 	.reg-conformation-logo {
    height: 22%;
    width: 100%;
    background: url(https://www.hanhaa.com/wp-content/uploads/2018/10/hanhaa-document-icon.png) center center no-repeat;
    background-size: contain;	
 	}
 	.reg-conformation-text {
    color: white;
    line-height: 1.5;
    margin-top: 17%;
    text-align: center;
 	}

/*  =======================================================================================
  How it works section - ParceLive get started 
  ======================================================================================= */

     /* @media only screen and (min-width: 1719px) {
  .sh-hiw-container {
    width: 30%;
    float:left;
  }
}
@media only screen and (max-width: 1719px) and (min-width: 1350px) {
  .col-md-4.cm-how-1{
    width: 30%;
     float:left;
  }
}
@media only screen and (max-width: 1350px) and (min-width: 992px) {
  .col-md-4.cm-how-1 {
    width: 29%;
   float: left;
  }
}
@media only screen and (max-width: 992px) and (min-width: 680px)  {
  .col-md-4.cm-how-1 {
    width: 51%;
    margin-bottom: 23%;
    margin-left: 26%;;
    height: 450px;
  }
}
@media only screen and (max-width: 680px) {
  .col-md-4.cm-how-1 {
    width: 84%;
    margin-bottom: 39%;
    margin-left: 10%;
  }
}
*/
  .sh-hiw-containter {
  
  margin: 0;
  color: #6a6f8c;
  background-image: linear-gradient(-90deg, red, yellow);
  font: 600 16px/18px 'Open Sans',sans-serif;
  height: -webkit-fill-available;
}

.sh-hiw-wrapper {
    width:100%;
    height:300px;
    min-width:1345px;
    position:relative; 
  background-image: linear-gradient(-90deg, #1597DB, #19BDC9);
}
  .sh-hiw-heading{
  text-align: center;
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff!important;
  padding-top: 2%;
  }
  
  .sh-hiw-content-heading{
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #222;
  }
  .sh-hiw-content-textarea{
    font-size: 15px;
  }
  
.menu {
  
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 120px;
    margin-top: 4.3%;
    position: absolute;
    z-index: 7;
}
.menu li {
  float: left;
  width: 25%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.menu li a:hover {
  background-color:#fff;
  color:#222!important;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.menu a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #fff!important;
  text-decoration: none;
  position: relative;
  font-size: 18px;
  z-index: 9;
}
.menu-btn {
  width:10%;
}
.menu-btn.active {
  background-color: #e74c3c;
  pointer-events: none;
}

.sh-hiw-step1-img {
  width:100%;
  max-width:50%;
  min-height:670px;
  position:relative;
  background:url(https://www.hanhaa.com/wp-content/uploads/2018/09/get-started-image.jpg) no-repeat bottom ;
  background-size:cover;
  float:left;
}

.sh-hiw-step2-img {
  width:100%;
  max-width:50%;
  min-height:670px;
  position:relative;
  background:url(https://www.hanhaa.com/wp-content/uploads/2018/10/parcelive-in-box.png) no-repeat bottom ;
  background-size:cover;
  float:left;

}

.sh-hiw-step3-img {
  width:100%;
  max-width:50%;
  min-height:670px;
  position:relative;
  background:url(https://www.hanhaa.com/wp-content/uploads/2018/10/usa-map.jpg) no-repeat bottom ;
  background-size:cover;
  float:left;

}

.sh-hiw-step4-img {
  width:100%;
  max-width:50%;
  min-height:670px;
  position:relative;
  background:url(https://www.hanhaa.com/wp-content/uploads/2018/10/unnamed-e1540919489189.jpg) no-repeat  ;
  background-size:cover;
  float:left;

}

.sh-hiw-step-content {
    width: 50%;
    float: left;
    padding-top: 15%;
}

.sh-hiw-content-textarea {
   padding-left: 10%;
}